/* Color palette:
 * You Are Beautiful http://www.colourlovers.com/palette/379413/you_are_beautiful
 * by Sanguine http://www.colourlovers.com/lover/Sanguine
 */
@color0: #351330;
@color1: #424254;
@color2: #64908a;
@color3: #e8caa4;
@color4: #cc2a41;

/* Sticky note colors */
@stickyColor: #ffffcc;
@bigStickySize: 6em;
@smallStickyHeight: 3em;
@smallStickyWidth: 6em;

@font-face {
    font-family: Chau;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/ChauPhilomeneOne-Regular.ttf');
}

@font-face {
    font-family: Peralta;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Peralta-Regular.ttf');
}

@font-face {
    font-family: Devonshire;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Devonshire-Regular.ttf');
}

@font-face {
    font-family: KeaniaOne;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/KeaniaOne-Regular.ttf');
}

@font-face {
    font-family: EnvyCodeR;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Envy Code R.ttf');
}

* {
    box-sizing: border-box;
    font-family: Chau;
    font-size: 120%;
}

.slide ul,
.slide li {
    padding: 0;
}

.slide pre {
    border: 0;
    margin-top: 0;
    padding-top: 0;
}

.slide.smaller pre {
    font-size: 110%;
}

.slide.even-smaller pre {
    font-size: 90%;
}

.slide pre.no-bottom {
    margin-bottom: -20px;
    padding-bottom: 5px;
}

section.slide pre.cli {
    background-color: #000000;
    bottom: 0;
    color: #ffffff;
    font-family: EnvyCodeR;
    font-size: 100%;
    left: 0;
    margin: 0 inherit;
    padding: 0 2.5em;
    position: absolute;
    right: 0;
    top: 0;
}

section.slide pre.cli * {
    font-family: EnvyCodeR;
    font-size: 100%;
}

.slide pre.cli .directory {
    color: #5d5bba;
}

.slide pre.cli .executable {
    color: #a66057;
}

.slide pre.cli .repo {
    color: #a1fb64;
}

.slide pre.cli .dirty {
    color: #fdfe66;
}

.slide pre.cli .ahead {
    color: #8ece52;
}

.slide pre.cli .behind {
    color: #bf6f64;
}

.slide pre.prettyprint * {
    font-family: EnvyCodeR;
    font-size: 90%;
}

.centered {
    left: 50%;
    position: absolute;
    top: 50%;
}

.pull-left {
    display: inline-block;
    float: left;
}

.pull-right {
    float: right;
}

.note {
    display: none;
}

.slide {
    border-bottom: 2em solid @color1;
    border-top: 1em solid @color2;
    color: @color0;
}

.slide > img {
    bottom: 50%;
    height: 500px;
    margin-top: -500px / 2;
    position: absolute;
    right: 50%;
}

.deck-status,
.slide::after {
    bottom: 0;
    color: @color2;
    font-size: 120%;
    position: fixed;
    z-index: 9;
}

.deck-status {
    right: 1em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

// Hide the footer title on the title page
.slide.title::after {
    content: "";
}

.slide::after {
    content: "Git Hooked on Git Hooks - Omni Adams";
    left: 1em;
}

.title h1 {
    font-family: Peralta;
    font-size: 225%;
    letter-spacing: 2px;
    position: absolute;
    white-space: nowrap;
    z-index: 9;
}

.title h1.get {
    left: auto;
    right: 534px;
    top: 116px;
}

.title h1.git {
    left: auto;
    right: 183px;
    top: 322px;
}

.title img {
    bottom: 0;
    position: relative;
    right: 0;
    .pull-right;
}

.about-me div {
    margin-left: -15em;
    margin-top: -155px;
    width: 30em;
}

.about-me ul {
    list-style: none;
    margin-top: -.25em;
}

.captain-hook img {
    margin-left: -334px / 2;
}

.what-do-you-do img {
    margin-left: -922px / 2;
}

.gatekeeper img {
    margin-left: -955px / 2;
}

.dexter img {
    margin-left: -829px / 2;
}

.mcfly img {
    margin-left: -667px / 2;
}

.git-workflow .big-sticky {
    background-color: @stickyColor;
    border: 1px solid #000000;
    font-family: Devonshire;
    font-size: 105%;
    height: @bigStickySize - 1;
    left: 50%;
    margin-top: -0.5 * @bigStickySize;
    padding: .5em;
    position: absolute;
    text-align: center;
    top: 50%;
    width: @bigStickySize - 1;
    z-index: 3;
}

.bottom-row {
    margin-top: @bigStickySize - 3.5;
}

.top-row {
    margin-top: -1.4 * @bigStickySize;
}

.git-workflow .rebase {
    margin-left: -2.5 * @bigStickySize;
    .top-row;
}

.git-workflow .merge {
    margin-left: -1.25 * @bigStickySize;
    .top-row;
}

.git-workflow .commit {
    margin-left: 0.25 * @bigStickySize;
    .top-row;
}

.git-workflow .clone {
    margin-left: -2.75 * (@bigStickySize);
}

.git-workflow .work {
    background-color: #ffffff;
    margin-left: -1.75 * @bigStickySize;
}

.git-workflow .add {
    margin-left: -0.75 * @bigStickySize;
}

.git-workflow .push {
    margin-left: 0.25 * @bigStickySize;
}

.git-workflow .checkout {
    margin-left: -2.25 * @bigStickySize;
    .bottom-row;
}

.git-workflow .pull {
    margin-left: -1 * @bigStickySize;
    .bottom-row;
}

.git-workflow .receive {
    background-color: lighten(grey, 20%);
    margin-left: 1.75 * @bigStickySize;
    margin-top: -1 * @bigStickySize;
}

.git-workflow .update {
    background-color: lighten(grey, 20%);
    margin-left: 1.75 * @bigStickySize;
    margin-top: 0.25 * @bigStickySize;
}

.git-workflow .small-sticky {
    background-color: darken(@stickyColor, 30%);
    border: 1px solid #000000;
    bottom: -0.2em;
    font-family: Devonshire;
    font-size: 70%;
    height: @smallStickyHeight;
    line-height: 18px;
    padding-top: 16px;
    position: absolute;
    text-align: center;
    width: @smallStickyWidth;
    z-index: 9;
}

.git-workflow .small-sticky.highlight {
    border: 2px dashed darken(@color4, 30%);
    background-color: @color4;
    z-index: 12;
}

.git-workflow .pre-commit,
.git-workflow .pre-rebase {
    left: -2.5em;
}

.git-workflow .pre-commit {
    bottom: 1.8em;
}

.git-workflow .prepare-commit-msg {
    bottom: .35em;
    left: -3.2em;
}

.git-workflow .commit-msg {
    bottom: -1.5em;
    left: -3.9em;
}

.git-workflow .post-commit {
    right: -3em;
}

.git-workflow .post-merge {
    right: -1em;
}

.git-workflow .post-checkout {
    right: -2.5em;
}

.git-workflow .pre-receive {
    left: -3.25em;
    width: 6em;
}

.git-workflow .post-receive {
    right: -2.25em;
    width: 6em;
}

.git-workflow .dividing-line {
    background-color: @color4;
    height: 100%;
    position: absolute;
    right: 25%;
    top: 0;
    width: 3px;
}

.no-email img {
    margin-left: -573px / 2;
}

.overview img {
    margin-left: -956px / 2;
}

.great-power img {
    margin-left: -676px / 2;
}

.universe img {
    margin-left: -506px / 2;
}

.merge-conflict img {
    margin-left: -395px / 2;
}

.cork img {
    margin-left: -769px / 2;
}

.message-for-you img {
    margin-left: -544px / 2;
}

.seven img {
    margin-left: -1196px / 2;
}

.gc img {
    margin-left: -547px / 2;
}

.over-the-line img {
    margin-left: -636px / 2;
}

.bouncer img {
    margin-left: -731px / 2;
}

.fight-club img {
    margin-left: -889px / 2;
}

.mini-me img {
    margin-left: -377px / 2;
}

.hooked div {
    color: @color4;
    font-family: KeaniaOne;
    font-size: 400%;
    margin-right: 3em;
    text-align: right;
}

.hooked .hooked {
    color: @color3;
}

.background div {
    bottom: 0;
    color: @color3;
    font-size: 400%;
    left: 0;
    position: absolute;
}

.doin-it-rong img {
    margin-left: -774px / 2;
}

.lint img {
    margin-left: -668px / 2;
}

.stackable {
    margin-left: -327px / 2;
}
