/* Color palette:
 * You Are Beautiful http://www.colourlovers.com/palette/379413/you_are_beautiful
 * by Sanguine http://www.colourlovers.com/lover/Sanguine
 */
@color0: #351330;
@color1: #424254;
@color2: #64908a;
@color3: #e8caa4;
@color4: #cc2a41;

/* Sticky note colors */
@stickyColor: #ffffcc;
@bigStickySize: 6em;
@smallStickyHeight: 3em;
@smallStickyWidth: 7em;

@font-face {
    font-family: Chau;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/ChauPhilomeneOne-Regular.ttf');
}

@font-face {
    font-family: Peralta;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Peralta-Regular.ttf');
}

* {
    box-sizing: border-box;
    font-family: Chau;
    font-size: 120%;
}

.slide ul,
.slide li {
    padding: 0;
}

.centered {
    left: 50%;
    position: absolute;
    top: 50%;
}

.pull-left {
    display: inline-block;
    float: left;
}

.pull-right {
    float: right;
}

.note {
    display: none;
}

.slide {
    border-bottom: 2em solid @color1;
    border-top: 1em solid @color2;
    color: @color0;
}

.deck-status,
.slide::after {
    bottom: 0;
    color: @color2;
    font-size: 120%;
    position: fixed;
    z-index: 9;
}

.deck-status {
    right: 1em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

// Hide the footer title on the title page
.slide.title::after {
    content: "";
}

.slide::after {
    content: "Git Hooked on Git Hooks - Omni Adams";
    left: 1em;
}

.title h1 {
    font-family: Peralta;
    font-size: 330%;
    letter-spacing: 2px;
    position: absolute;
    white-space: nowrap;
}

.title h1.get {
    left: auto;
    right: 534px;
    top: 93px;
}

.title h1.git {
    left: auto;
    right: 245px;
    top: 322px;
}

.title img {
    .pull-right;
}

.about-me div {
    margin-left: -15em;
    margin-top: -155px;
    width: 30em;
}

.about-me ul {
    list-style: none;
    margin-top: -.25em;
}

.git-workflow .big-sticky {
    background-color: @stickyColor;
    border: 1px solid #000000;
    font-size: 150%;
    height: @bigStickySize - 1;
    left: 50%;
    margin-top: -0.5 * @bigStickySize;
    padding: .4em;
    position: absolute;
    text-align: center;
    top: 50%;
    width: @bigStickySize - 1;
    z-index: 3;
}

.bottom-row {
    margin-top: @bigStickySize - 3.5;
}

.top-row {
    margin-top: -1.5 * @bigStickySize;
}

.git-workflow .rebase {
    margin-left: -2.5 * @bigStickySize;
    .top-row;
}

.git-workflow .merge {
    margin-left: -1.25 * @bigStickySize;
    .top-row;
}

.git-workflow .commit {
    margin-left: 0.25 * @bigStickySize;
    .top-row;
}

.git-workflow .clone {
    margin-left: -3 * (@bigStickySize);
}

.git-workflow .work {
    background-color: #ffffff;
    margin-left: -1.75 * @bigStickySize;
}

.git-workflow .add {
    margin-left: -0.5 * @bigStickySize;
}

.git-workflow .push {
    margin-left: 0.75 * @bigStickySize;
}

.git-workflow .checkout {
    margin-left: -2.25 * @bigStickySize;
    .bottom-row;
}

.git-workflow .pull {
    margin-left: -1 * @bigStickySize;
    .bottom-row;
}

.git-workflow .receive {
    background-color: lighten(grey, 20%);
    margin-left: 2 * @bigStickySize;
    margin-top: -1 * @bigStickySize;
}

.git-workflow .update {
    background-color: lighten(grey, 20%);
    margin-left: 2 * @bigStickySize;
    margin-top: 0.25 * @bigStickySize;
}

.git-workflow .small-sticky {
    background-color: darken(@stickyColor, 30%);
    border: 1px solid #000000;
    bottom: -1em;
    font-size: 70%;
    height: @smallStickyHeight;
    position: absolute;
    text-align: center;
    width: @smallStickyWidth;
    z-index: 5;
}

.git-workflow .pre-commit,
.git-workflow .pre-rebase {
    left: -2.5em;
}

.git-workflow .pre-commit {
    bottom: 2em;
}

.git-workflow .prepare-commit-msg {
    bottom: .25em;
    left: -3em;
}

.git-workflow .commit-msg {
    bottom: -2em;
    left: -3.5em;
}

.git-workflow .post-commit {
    right: -4.5em;
}

.git-workflow .post-merge {
    right: -1em;
}

.git-workflow .post-checkout {
    right: -2.5em;
}

.git-workflow .pre-receive {
    left: -3.25em;
    width: 6em;
}

.git-workflow .post-receive {
    right: -3.25em;
    width: 6em;
}
